h1 {
    margin-left: 170px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(122, 122, 240);
}
.container-y{
    display:block;
}
.canvas {
 position:relative;
 left:200px;
 top:0px;
}
.x{
    position:absolute;
    left:208px;
    top:90px;
}
.y{
    position:absolute;
    left:168px;
    top:110px;
}
.padre{
    display: flex;
    padding-left: 210px;
}
.cuadrado{
    width: 50px;
    height: 45px;
    margin: 5px;
}
.cuadrado:hover, .color-picker:hover, .goma:hover,.pen-select:hover {
    cursor: pointer;
}

.circulo{
    width: 50px;
    height: 50px;
    border: 2px white;
    border-radius: 50px;
    margin: 10px;
}

.color-picker {
    height:50px;
}

.pen, .goma-ico{
    visibility: hidden;
    position: absolute;
    pointer-events: none;
}
.goma-ico{
    
}
.goma{
    width: 45px;
    height: 50px;
}